@import "../../styles/variables.scss";
.blog-form {
  width: 100%;
  .blog-form-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      margin-bottom: 20px;

      label {
        font-size: 14px;
        margin-bottom: 6px;
      }

      input,
      .tagInput {
        padding: 10px;
        background-color: transparent;
        color: white;
        outline: none;
        border: 1px solid $soft-color;
        border-radius: 3px;
      }
      .react-tagsinput-input {
        width: 100%;
        outline: none;
        border: none;
        padding: 10px !important;
        background-color: transparent;
        color: white;
        outline: none;
        border: 1px solid $soft-color;
        border-radius: 3px;
      }
    }
  }
  .blog-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px 0;
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 12px;
      border: 1px solid $soft-color;
      border-radius: 5px;
      font-size: 18px;
      color: white;
      resize: none;
      background-color: transparent;
    }
    .word-count {
      margin-top: 10px 0;
      color: #777;
      font-size: 14px;
      width: 200px;
    }
    textarea:focus {
      outline: none;
    }
  }
  button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 9px;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
